.info-product{
    display: flex;

}
ol{
    list-style: none;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
    padding: 0 15px;
    margin: 14px 0 !important;
}
ol li{
    display: inline;
    font-size: 12px;
}
ol li::after{
    content: "\BB ";
}
.button{
    margin: 10px 0;
    display: flex;
    justify-content: flex-end;
}
.btn-prev{
    min-width: 107px;
    cursor: pointer;
    outline: none;
    display: inline-block;
    background: #f1f1f1;
    border: 0;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 0 4px 4px 0;
    font-size: 14px;
}
.btn-next{
    min-width: 70px;
    cursor: pointer;
    outline: none;
    display: inline-block;
    background: #fdce09;
    border: 0;
    padding: 5px 10px;
    border-radius: 4px 0 0 4px;
    font-size: 14px;
}